# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/back/env
/back/back/secret_key.py
/env/
node_modules/
back/card/migrations/*

# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
images
static

# dependencies
/front/node_modules
/.pnp
.pnp.js
.idea

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#optional files
front/src/db_reserve.json
